<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=192.168.100.212;Initial Catalog=master;User Id=sa;Password=123@abc;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--模型命名空间-->
    <add key="modelnamespace" value="EF.Models"/>
    <!--文件输出路径-->
    <add key="path" value="G:\Git\EF\EF\Models"/>
  </appSettings>
</configuration>
